body {
     font-family: "Source Code Pro", monospace;
}

.title {
    text-align: center;
    border-bottom: 1px solid black; /* Adjust color and thickness as needed */
}

a {
    text-decoration: none; /* Removes underline */
    color: inherit; /* Makes link color the same as surrounding text */
    transition: color 0.5s ease; /* Makes color change gradually */
    cursor: pointer; /* Changes the cursor to a hand when hovering over the link */
    padding: 5px 10px; /* Adds some padding around the link */
    border: 1px solid transparent; /* Adds a transparent border around the link */
}

a:hover {
    color: gray; /* Changes color to gray when hovered */
    border-color: gray; /* Changes border color to gray when hovered */
}